
  body{
    background: linear-gradient(to right,#db78e8, #ebf1a2); 
    margin: 0px;
    .title-rainbow{
    text-transform: uppercase;
    font-weight: bold;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
  font-size: 25px;
  line-height: 25px;

}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.block-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* gradient overlay */
    background-image: linear-gradient(to top, rgba(195, 30, 217, 0.6), rgba(206,220,23, 0.4)), url(
   "./723294.jpg");
    background-size: cover;
    /* build polygon */
    clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 70%);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  height: 100vh;
  .header{
      background-color: rgba(195, 30, 217, 0.7);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 9;
      &-container{
          
          display: flex;
          justify-content:center;
          width: 100%;
          nav{
              padding: 20px;
             width: fit-content; 
             a{
               text-transform: uppercase;
               font-weight: bold;
               font-size: 22px;
               text-decoration: none;
               color: black;  
               position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
             }
             a:nth-child(2n){
                 margin: 0px 30px;
             }
             a:after {
                display: block;
                position: absolute;
                left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
                width: 0;/*задаём длинну линии до наведения курсора*/
                height: 3px; /*задаём ширину линии*/
                background-color: black; /*задаём цвет линии*/
                content: "";
                transition: width 0.3s ease-out; /*задаём время анимации*/
            }
            a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
          }
      }

  }
  .pokeDetail{
position: relative;
top: 50%;
transform: translateY(-50%);
display: flex;
justify-content: center;

width: 100%;
&__container{
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px 40px 20px 0px ;
    background-color: white;
    max-width: 1000px;
    width: 90%;
    display: flex;
    align-items: center;
    img{
        width: 50%;
    max-width: 300px;
    }
    .pokemonId{
        font-size: 30px;
        font-weight: bold;
    }
    .pokemonData{
        font-size: 30px;
        font-weight: bold;
        color: blue;
    }
    .pokemonPower{
        background-color: rgba(195, 30, 217, 1);
        padding: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
    }
    @media  (max-width:585px) {
        .pokeDetail{background-color: red;
            &__container{
                flex-direction: column;
            }
        }
    }
}
  }
}


    .swiper-container{
        padding: 20px 50px;
        top: 40%;
        .swiper-slide{
            background-color: white;
            border-radius: 10px;
        }
        a{
            text-decoration: none;
        }
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0;
    }
    .pokemon__title{
font-size: 20px;
color: black;
font-weight: bold;
text-decoration: none;
padding: 10px 0px;
cursor: pointer;
    }
}
.bounce-enter-active {
    animation: bounce-in .5s ease-out both;
  }
  
  .bounce-leave-active {
    animation: bounce-in .5s reverse ease-in both;
  }
  
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
    
  }
  .swiper-wrapper{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    .swiper-slide{
      display: flex;
   
    .slide-item{
        width: 100%;
        height: 100%;
    }
    .slide-item img:hover{
        transform: scale(1.2);
        transition: .5s;
    }
  } 
  .slider-height{
       height: auto;  
  } 
  }
  